@media (min-width: 1024px) and (max-width: 1900px) {
  .component-5 {
    height: 164px;
    background-color: black;
    width: 100%;
    transform: translate(0px, -477px);
    .comp-1-cont-1 {
      gap: 8.3px;
      margin-bottom: 47px;
      transform: translate(232px, 62px);
      .e {
        width: 45px;
        height: 45px;
        border: 3px solid $color-white;
        color: $color-white;
        padding-left: 10px;
        font-size: 32px;
        font-family: $primary-font-montserrat;
        span {
          display: inline-block;
          transform: translate(-2px, 3px);
          font-weight: bold;
        }
      }
      .exhibition {
        padding-top: 7px;
        span {
          font-family: $primary-font-montserrat;
          font-weight: bold;
          font-size: 16px;
          letter-spacing: 0.8px;
          color: $color-white;
        }
      }
    }
    .hovers {
      color: #fff;
      font-family: $primary-font-montserrat;
      transform: translate(771px, -14px);
      letter-spacing: -0.9px;
      span:hover {
        border-bottom: 1px solid #ed1c24;
      }
    }
    .up-arr {
      width: 39px;
      height: 39px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #fff;
      transform: translate(1278px, -40px);
      svg {
        fill: #fff;
        &:hover {
          fill: #ed1c24;
        }
      }
    }
  }
}
