@media (min-width: 1024px) and (max-width: 1920px) {
  .component-4 {
    transform: translate(0px, -34px);
    .map {
      // background-image: url("../../../assets/component-4/img.jpg");
      .disp-1 {
        display: none;
      }
      .disp-2 {
        display: inline-block;
      }
    }
    .red-container {
      height: 439px;
      transform: translate(15px, -443px);
      padding-top: 60px;
      padding-left: 43px;
      background-color: #ed1c24;
      margin-left: 190px;
      width: 348px;

      .venue {
        font-family: $primary-font-montserrat;
        color: $color-white;
        font-size: 27px;
        font-weight: bold;
        transform: translate(79px, 12px);
        letter-spacing: 1.1px;
        width: 100px;
        margin-bottom: 30px;
      }
      .circle-map {
        transform: translate(111px, 3px);
        width: 43px;
        height: 43px;
        overflow: hidden;
        border-radius: 50%;
        margin-bottom: 60px;
        .translate-map {
          transform: translate(-60px, -65px);
        }
      }
      .svg-tr {
        width: 24px;
        transform: translate(120px, -113px);
      }
      .new-text {
        display: inline-block;
        .op-2 {
          transform: translate(43px, 6px);
        }
        .op-3 {
          transform: translate(-20px, 10px);
          display: flex;
          justify-content: center;
          width: 228px;
          padding-bottom: 20px;
          border-bottom: 1px solid #fff;
          margin-bottom: 11px;
        }
      }
      .old-text {
        display: none;
      }
      .open-sans-text {
        font-family: "Open Sans", sans-serif;
        font-size: 16px;
        color: #fff;
        transform: translate(24px, -42px);
        letter-spacing: -0.3px;

        .op-2 {
          transform: translate(28px, 6px);
        }
        .op-3 {
          transform: translate(-36px, 10px);
          display: flex;
          justify-content: center;
          width: 228px;
          padding-bottom: 20px;
          border-bottom: 1px solid #fff;
          margin-bottom: 11px;
        }
      }
      .need {
        font-family: $primary-font-montserrat;
        font-size: 13px;
        color: #fff;
        letter-spacing: 0.7px;
        transform: translate(62px, -20px);
        margin-bottom: 6px;
      }
      .comp-1-last {
        span {
          border: 1px solid #fff;
          padding: 6px 11.1px;
          transform: translate(70px, -2px);
          .transform-car {
            transform: translate(2px, 10px);
          }
        }
      }
    }
  }
}
