@media (min-width: 1024px) and (max-width: 1900px) {
  .component-1 {
    width: 100%;
    height: 100%;
    background-color: $primary-gray-color;

    .red-container {
      height: $primary-cont-1-desktop-height;
      width: $primary-red-cont-desktop-width;
      background-color: $primary-red-color;
      margin-left: 200px;
      padding: 25px 0 0 33px;
      .comp-1-cont-1 {
        gap: 8.3px;
        margin-bottom: 47px;
        .e {
          width: 45px;
          height: 45px;
          border: 3px solid $color-white;
          color: $color-white;
          padding-left: 10px;
          font-size: 32px;
          font-family: $primary-font-montserrat;
          span {
            display: inline-block;
            transform: translate(-2px, 3px);
            font-weight: bold;
          }
        }
        .exhibition {
          padding-top: 7px;
          span {
            font-family: $primary-font-montserrat;
            font-weight: bold;
            font-size: 16px;
            letter-spacing: 0.8px;
            color: $color-white;
          }
        }
      }
      .photography {
        background-color: black;
        width: 100.25px;
        height: 19.5px;
        padding: 0px 0 0 10px;
        margin-bottom: 7px;
        span {
          font-family: $primary-font-montserrat;
          font-size: 10px;
          color: $color-white;
        }
      }
      .john-doe {
        border-bottom: 1px solid #707070;
        padding-bottom: 17px;
        width: 281px;
        margin-bottom: 17px;
        span {
          font-family: $primary-font-montserrat;
          font-size: 22px;
          font-weight: bold;
          color: $color-white;
          transform: translate(4px, 0px);
          display: inline-block;
          letter-spacing: -0.7px;
          .shadows {
            font-size: 23px;
            letter-spacing: 1px;
            transform: translate(1px, 2px);
          }
        }
      }
      .from {
        font-family: $primary-font-open-sans;
        color: $color-white;

        width: 281px;
        font-size: 16px;
        font-weight: 200;
        transform: translate(1px, -1px);
        line-height: 21.8px;
        letter-spacing: 0.1px;
        padding-bottom: 17px;
        border-bottom: 1px solid #707070;
        margin-bottom: 19px;
      }
      .free {
        font-family: $primary-font-montserrat;
        font-size: medium;
        gap: 10px;
        margin-bottom: 53px;
        &-text {
          color: $color-white;
          letter-spacing: 1.2px;
          line-height: 18px;
        }
      }
      .comp-1-last {
        justify-content: flex-end;
        .padd-left {
          padding-left: 8px;
        }
        span {
          display: flex;
          align-items: center;
          justify-content: center;
          border: 1px solid $color-white;
          padding: 11px;
          padding-left: 12px;
          .border-none {
            border-right: none;
            border-left: none;
          }
        }
      }
    }
    .back-black {
      background-color: #111111;
      padding: 18px;
      padding-top: 14px;
      height: 56px;
    }
  }
  .comp-1-lane-gray {
    background-color: #dbdbdb;
    max-width: 549px;
    min-width: 549px;
    height: 61px;
  }
  .comp-1-lane-black {
    background-color: #111111;
    width: 100%;
    height: 61px;
    margin-bottom: 45px;
    display: flex;

    .up-arr-top {
      width: 53px;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #fff;
      transform: translate(577px, 0px);
      svg {
        fill: #fff;
        &:hover {
          fill: #ed1c24;
        }
      }
    }
  }
}
