$primary-cont-1-desktop-width: 1400px;
$primary-cont-1-tablet-width: 768px;
$primary-cont-1-desktop-height: 422px;
$primary-cont-1-tablet-height: 422px;
$primary-red-cont-desktop-width: 350px;
$primary-red-cont-tablet-width: 346px;
